div[id^="Adversaire-"] {
    position: absolute;
    height: 15%;
    padding: 50px;
    top: 0; /* Modifier de 'bottom' à 'top' */
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    border: 0.5px solid red;
    background-size: cover;
    background-color: rgba(255, 0, 0, 0);
}


#Adversaires {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22%;
    width: 75%;
    position: absolute;
    top: 0; /* Modifier de 'bottom' à 'top' */
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 30px;
    border: 5px solid transparent;
    background-color: rgba(241, 234, 234, 0);
} 

div[id^="Pseudo-"] {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: px;
    width: 58px;
    position: absolute;
    top: 50%; 
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    background: linear-gradient(rgb(7, 7, 7),rgb(90, 15, 15));
    border:2px inset rgb(90, 15, 15);
}

