body{
    background-image: url('./images/Arrière-plan-cartes.jpg');
}

#Boutton{
  display: none;
    position: absolute;
    top: 50%;
    right: 50%;
}
#Enregistrer{
  display: none;
    position: absolute;
    top: 0%;
    right: 0%;
}


div[id^="Infos"] {
  display: inline;
  position: absolute;
  top: 0;
  left: 9%;
}

div[id^="nbcartes"] {
  position: absolute;
    top: 50%;
    left: 40%;
  }

.playerMessage{
  float:left;
}

#score{
  position: absolute;
    top: 50%;
    left: 40%;
  
}

#RetourFin{
  display: none;
    position: absolute;
    margin-top: 12.5%;
    margin-left: 25%;
    width: 5%;
}
#Decompte{
  display: none;
  position: absolute;
    top: 10%;
    right: 10%;
    width: 20px;
    height: 20px;
    border: .3em inset #e91e1e;
    background: transparent;
    padding: .85em 1.5em;
    color: #f8f1f1;
    border-radius: 50%;
    transition: 1s;
  }


  


