.Parameters {
    background-image: url('./images/Arrière-plan-paramètres.jpg');
}

.lockedColors {
    background-image: url('./images/cadenas.jpg');
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
}